<footer class="footer">
    <div class="footer-content">
        
        <div class="footer-top">
            <div class="footer-brand">
                <a href="index.html" class="footer-name">Pragya Pandya</a>
            </div>
            
            <div class="ui-icons">
                <a href="mailto:pragyapandya.108@gmail.com" target="_blank">
                    <img src="images/gmail.png" alt="Gmail" class="footer-icons"/> 
                    pragyapandya.108@gmail.com
                </a>
                <span>|</span>
                <a href="https://www.linkedin.com/in/pragya-pandya/" target="_blank">
                    <img src="images/linkedin.png" alt="LinkedIn" class="footer-icons"/> 
                    LinkedIn
                </a>
                <a href="https://github.com/PandaP108" target="_blank">
                    <img src="images/github.png" alt="GitHub" class="footer-icons"/> 
                    Github
                </a>
                <a href="index.html" class="about-link">Home</a>
            </div>
        </div>
        
        <hr class="footer-line">
        
        <div class="footer-bottom">
            <p>© 2026 Pragya Pandya. Personal Portfolio. University of North Carolina at Charlotte. All rights reserved.</p>
        </div>
        
    </div>
</footer>