<nav class="navbar">
    <a href="index.html" class="nav-brand">
        <img src="images/lol.png" alt="Logo" class="brand-icon">
        <span class="logo">Pragya Pandya</span>
    </a>
    
    <div class="nav-links">
        <a href="index.html">Home</a>
        <a href="resume.html">Resume</a>
        <a href="index.html#experience">My Experience</a>
        <a href="projects.html">My Projects</a>
    </div>
    <a href="contact-form.html" class="btn">Let's Work Together</a>
</nav>